@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@200;300;500&family=Roboto:wght@300;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: white;
    font-family: 'Epilogue',sans-serif;
}


.wrapper {
    display: flex;
    flex-wrap: wrap;
}
.container {
    width: 50%;
    margin: 0 auto;
    padding: 5rem;
    background-color: white;
}
.text-center{
    padding-bottom: 2rem;
    font-family: 'Roboto',sans-serif;
}

.form-group {
    margin-bottom: 20px;
}

label {
    font-weight: bold;
    color: black;
}

.form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.btn {
    background-color: #A7D397;
    color: black;
    font-weight: bold;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}
.btn:hover {
    background-color: #555843;
    color: white;
}
#items{
    margin-top: 3rem;
}
table {
    width: 100%;
    margin-top: 2rem;
}

th, td {
    padding: 10px;
    text-align: center;
}

th {
    background-color: #A7D397;
    color: black;
    font-size: 18px;
    font-weight: bold;
}


.btn-edit {
    background-color: #007bff;
    color: #fff;
    margin-right: 5px;
}
.btn-edit:hover {
    background-color: #0056b3;
}

.clearfix::after {
    content: " ";
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: block;
    clear: both;
}

li {
    list-style: none;
}

.calendar {
    background: #A7D397;
    width: 698px;
    margin: 50px auto 0;
    padding: 20px 0px 20px 25px;
    border-radius: 10px;
}

.calendar .main-title {
    padding: 20px;
    color: black;
    text-align: center;
}

.calendar .day {
    width: 100%;
}

.calendar .day li {
    float: left;
    background: white;
    padding: 10px;
    width: 80px;
    height: 80px;
    margin-right: 14px;
    margin-top: 10px;
}

.calendar .day li:last-child {
    margin-right: 0;
}

.calendar .day li:hover {
    cursor: pointer;
    transition: all 0.2s;
    transform: scale(1.08);
}

.month {
    color: black;
    font-size: 22px;
    text-align: center;
    margin-left: -25px;
    margin-bottom: 20px;
    padding: 10px;
}

.month .fas {
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.month .fas:hover {
    transition: all 0.2s ease-in-out;
    transform: scale(1.2);
}

.month .fa-chevron-left {
    float: left;
    margin-left: 15px;
}

.month .fa-chevron-right {
    float: right;
    margin-right: 15px;
}

.dayCount .dayCount-list li {
    float: left;
    width: 94px;
    color: black;
}

.sun,
.sat {
    color: #555843;
}

.none {
    display: none;
}

#popup {
    background-color: #ffffff;
    width: 300px;
    padding: 20px;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    border-radius: 8px;
    font-family: "Arial", sans-serif;
    display: none;
    text-align: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

#popup button {
    display: block;
    margin: 10px auto;
    padding: 8px 16px;
    background-color: #A7D397;
    color: #090909;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
}

#popup button:hover {
    background-color: #555843;
    color: white
}

#popup #closePopup {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: transparent;
    font-size: 20px;
    color: #c5c5c5;
    border: none;
    outline: none;
    cursor: pointer;
}

#editPopup {
    background-color: #ffffff;
    width: 300px;
    padding: 20px;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    border-radius: 8px;
    font-family: "Arial", sans-serif;
    display: none;
    text-align: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

#editPopup input {
    width: 100%;
    margin-bottom: 10px;
    padding: 8px;
    box-sizing: border-box;
}

#editPopup button {
    display: block;
    margin: 10px auto;
    padding: 8px 16px;
    background-color: #A7D397;
    color: #090909;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
}

#editPopup button:hover {
    background-color: #555843;
    color:white
}

#editPopup #closePopup {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: transparent;
    font-size: 20px;
    color: #c5c5c5;
    border: none;
    outline: none;
    cursor: pointer;
}

















